<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span><%= link_to "Followings", followings_user_path, class: "btn btn-xs btn-default" %></span>
      <span><%= link_to "Followers", followers_user_path, class: "btn btn-xs btn-default" %></span>
    </section>
  </aside>
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
  
  <aside class="col-md-4">
  </aside>
  
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Followings (<%= @user.following_users.count %>)</h3>
      <ol class="followings">
        <% @followingusers.each do |user| %>
          <%= user.name %><br>
        <% end %>
      </ol>
    <% end %>
  </div>
  
  <aside class="col-md-4">
  </aside>
  
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Followers (<%= @user.follower_users.count %>)</h3>
      <ol class="followers">
        <% @followerusers.each do |user| %>
          <%= user.name %><br>
        <% end %>
      </ol>
    <% end %>
  </div>
  
</div>

